<header class="p-3 bg-color">
    <div class="container d-flex flex-wrap align-items-center justify-content-between">
        <div class="mb-2 mb-lg-0 t">
            <a href="/" class="d-flex align-items-center text-white text-decoration-none">
                <img class="logo-img" src="../../../favicon.ico" alt="logo">
                <p class="logo-name mb-0 ms-2">e Auction</p>
            </a>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-light btn-outline-success me-2 btn-lg">Login</button>
            <button type="button" class="btn btn-outline-warning btn-lg">Sign-up</button>
        </div>

        <!-- <div class="dropdown text-end">
            <a href="#" class="d-block link-body-emphasis text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
          </div> -->

    </div>
</header>
<div class="p-3 container">
    <div class="container">
            <ul class="d-flex flex-wrap align-items-center justify-content-center justify-content-between mb-md-0">
                <li routerLink="#" class="btn btn-outline-primary active"><a class="nav-link px-2">home</a></li>
                <li routerLink="#" class="btn btn-outline-primary"><a class="nav-link px-2">Inventory</a></li>
                <li routerLink="#" class="btn btn-outline-primary"><a class="nav-link px-2 ">Customers</a></li>
                <li routerLink="#" class="btn btn-outline-primary"><a class="nav-link px-2">Products</a></li>
                <li routerLink="#" class="btn btn-outline-primary"><a class="nav-link px-2">Inventory</a></li>
                <li routerLink="#" class="btn btn-outline-primary"><a class="nav-link px-2 ">Customers</a></li>
            </ul>
    </div>
</div>